@model IEnumerable<ClienteAPI.Models.EjercicioViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}

<h1>Lista de ejercicios</h1>

<p>
    <a asp-action="Create">Crear nuevo ejercicio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEjercicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEjercicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEjercicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEjercicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdEjercicio  }) |
                @Html.ActionLink("Detalles", "Details", new {  id=item.IdEjercicio }) 
                @Html.ActionLink("Eliminar", "Delete", new {  id=item.IdEjercicio })
            </td>
        </tr>
}
    </tbody>
</table>
