@model ClienteAPI.Models.HistoricoRutinaEjercicioViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HistoricoRutinaEjercicioViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHisRutEjer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHisRutEjer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHistRutina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHistRutina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEjercicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEjercicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repeticiones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Repeticiones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Series)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descanso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descanso)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
