@model IEnumerable<ClienteAPI.Models.HistoricoRutinaEjercicioViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_adm.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear nuevo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdHisRutEjer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHistRutina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEjercicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repeticiones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descanso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdHisRutEjer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHistRutina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEjercicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repeticiones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Series)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descanso)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.IdHisRutEjer  }) |
                @Html.ActionLink("Detalles", "Details", new {  id=item.IdHisRutEjer  }) |
                @Html.ActionLink("Eliminar", "Delete", new {  id=item.IdHisRutEjer  })
            </td>
        </tr>
}
    </tbody>
</table>
